body {
    background-color: lightgreen;
  }
  a:link, a:visited {
    background-color: #3cb371;
    color: white;
    padding: 10px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: Arial;
    transition: 0.2s;
   }
  
  a:hover, a:active {
    background-color: green;
   }
  h1 {
    color:white;  
    font-family: Helvetica;
   }
  #myHeader {
    background-color: tomato;
    color: white;
    padding: 40px
    text-align center;
   } 
  h2 {
    color: white;
    font-family: arial;
   }